@font-face {
    font-family: "Sora";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/sora/sora-v17-latin-regular.woff2") format("woff2");
}
@font-face {
    font-family: "Sora";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/sora/sora-v17-latin-500.woff2") format("woff2");
}
@font-face {
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/sora/sora-v17-latin-600.woff2") format("woff2");
}
@font-face {
    font-family: "Sora";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/sora/sora-v17-latin-700.woff2") format("woff2");
}
@font-face {
    font-family: "Sora";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("../fonts/sora/sora-v17-latin-800.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans text-gray-900;
    }
}
